<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?cache_id={{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?cache_id={{ cache_id }}">
    <link rel="icon" href="../static/images/icon.png?cache_id" />
    <title>SPEAKIT</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>Posts</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      {% for user in userposts %}
	      <li>
		<h2>{{ user[0].first_name }}:</h2>
		<ul>
		  {% for post in user[1] %}
		  <li>{{ post.title }}</li>
		  {% endfor %}
		</ul>
	      </li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
      </section>
    </div>
  </body>
</html>
