/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0C0C0C;
    color: white;
}

.chat-container {
    display: flex;
    height: 100vh;
    background-image: url("../images/avatars/bubble.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.side-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgba(35, 43, 43, 0.8);
}
.logo-header {
    margin-bottom: 5px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-left: 10px;
    border-bottom: 1px solid #54626F;
}
.logo-header > p{
    color: #FFA500;
    margin-left: 10px;
    width: 50%;

}
.logo-header > img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.users-list {
    color: #ccc;
    overflow-y: auto;
    border-right: 1px solid #54626F;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.users-list > div {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #54626F;
    display: flex;
}
.users-list > div > .user-pic {
    margin-left: 0;
}
.users-list > div > p{
    margin-right: auto;
    margin-left: 10px;
}
.users-list div:hover {
    background-color: #0F282F;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.chat-header {
    display: flex;
    height: 55px;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: rgba(128, 0, 128, 1);
    width: 100%;
}

.user-pic {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.user-pic > img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.chat-header > div {
    display: flex;
    margin-right: auto;
}

.header-button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    color: #FFA500;
}
.user-header {
    display: flex;
    width: 92%;
}
.user-header > div {
    margin-right: auto;
    display: flex;
}
.user-name {
    margin-left: 10px;
    margin-right: 10px;
}

.typing-indicator {
    padding: 10px;
     color: #FFA500;
}

.message-input {
    display: flex;
    padding: 10px;

}

textarea {
    flex: 1;
    resize: none;
    padding: 5px;
    background-color: rgba(128, 0, 128, 0.8);
    border-radius: 8px;
    color: #FFA500;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: rgba(128, 0, 128, 0.8);
    display: none;
    color: #FFA500;
    border-radius: 8px;
    cursor: pointer;
}


.sent-message {
    background-color: rgba(128, 0, 128, 1);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.sent-message > p{
    color: #FFA500;
}
.received-message {
    background-color: #FFA500;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.received-message > p {
    color: #800080;
}

.file-label {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: -35px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    color: #FFA500;

}

input[type="file"] {
    display: none;
}

.uploaded-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

p {
    color: #FFA500;
    margin-top: auto;
    margin-bottom: auto;
}
/* edit scroll bar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
    background: orange;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #800080;
  border-radius: 20px;
  border: 3px solid orange;
}
