<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
  <link rel="stylesheet" href="../static/css/register.css">
  <link rel="icon" href="../static/images/avatars/favicon16.jpg">
  </head>
<body>

  <form id="registrationForm" method="post" action="{{ url_for('auth.register_user_post') }}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification">
      <div class="message">{{ messages[0] }}.</div>
      <div>Go to <a href="{{ url_for('auth.login') }}">login page</a>.</div>
    </div>
    {% endif %}
    {% endwith %}
  <label for="username">Username:</label>
  <input type="text" id="username" placeholder="username" name="user_name" value="ryder" required>

  <label for="email">Email</label>
  <input type="email" id="email" placeholder="email" name="email" value="vamps@gmail.com"required>

  <label for="password">Password</label>
  <input type="password" id="password" placeholder="password" name="password" value="ride@fun" required>

  <button type="submit">Register</button>
  <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
  </form>
  <script src="../static/js/register.js"></script>
</body>
</html>
